<img src="/assets/img/logo.png" alt="Logo" class="header__logo">
<form class="search" (submit)="onSubmit(recipe)">
  <input name="recipe" #recipe type="text" class="search__field" placeholder="Search over 1,000,000 recipes...">
  <button type="submit" class="btn search__btn">
    <svg class="search__icon">
      <use href="/assets/img/icons.svg#icon-magnifying-glass"></use>
    </svg>
    <span>Search</span>
  </button>
</form>
<div class="likes">
  <div class="likes__field">
    <svg class="likes__icon">
      <use href="/assets/img/icons.svg#icon-heart"></use>
    </svg>
  </div>
  <div class="likes__panel">
    <ul class="likes__list">

        <li *ngFor="let like of likes">
            <a class="likes__link" [href]="like.recipe_id">
                <figure class="likes__fig">
                    <img [src]="like.image_url" alt="Test">
                </figure>
                <div class="likes__data">
                    <h4 class="likes__name">{{like.title}}</h4>
                    <p class="likes__author">{{like.publisher}}</p>
                </div>
            </a>
        </li>

    </ul>
  </div>
</div>
