<div class="shopping">
  <h2 class="heading-2">My Shopping List</h2>

  <ul class="shopping__list">


    <li *ngFor="let ingredient of ingredients" class="shopping__item">
        <div class="shopping__count">
            <input type="number" [value]="ingredient.count" step="0.1">
            <p>{{ingredient.unit}}</p>
        </div>
        <p class="shopping__description">{{ingredient.ingredient}}</p>
        <button (click)="deleteIngredient(ingredient.id)" class="shopping__delete btn-tiny">
            <svg>
                <use href="/assets/img/icons.svg#icon-circle-with-cross"></use>
            </svg>
        </button>
    </li>

  </ul>

  <div class="copyright">
    &copy; by Salisu Shuaibu. Powered by
    <a href="http://food2fork.com" target="_blank" class="link">Food2Fork.com</a>.
  </div>

</div>
